<div class="container">
  <h2>GET INSPIRATION</h2>

  <ul>
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article_path(article) %>
      </li>
    <% end %>
  </ul>
</div>

