<div class="container">
  <h2><%= @article.title %></h2>

  <p>
    <%= link_to 'Edit', edit_article_path(@article), { :class => 'btn-medium'} %>
    <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, :class => 'btn-medium' %>
  </p>


  <p><%= @article.content %></p>
</div>

