<div class="container">
  <h2><%= @article.title %></h2>

  <p>
    <%= link_to 'edit', edit_article_path(@article), { :class => 'btn-medium'} %>
    <%= link_to 'delete', article_path(@article), method: :delete, :class => 'btn-medium' %>
  </p>


  <p><%= @article.content %></p>
</div>

